@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

html, body {
  scroll-behavior: smooth;

  padding: 0;
  margin: 0;
  min-height: 100vh;
}

a, h1, p {
  font-family: 'Cabin', sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #fff 30%, #d9d9d9 90%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
  height: 100px;
  padding: 0 5em;
  border-bottom: 16px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  z-index: 20;
}

.header ul {
  display: flex;
  list-style-type: none;
  margin-right: 5em;
}

.header ul li {

  margin: 0 2em;
}

@media screen and (max-width: 768px) {
  /* .header ul {
    margin-right: 2em;
  } */
  .header ul {
    margin-right: 0;
  }

  .header {
    padding: 0 1em;
  }
}

/* First Section */

.first-section {
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
  margin-top: 200px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1) inset;
}

.first-section img {
  background: #c4c4c4;
  width: 300px;
  height: 300px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease-in-out;
  z-index: 0;
}

.first-section img:hover {
  transform: scale(1.05);
}

.first-section p {
  max-width: 40%;
  margin: 2em;
}

@media only screen and (max-width: 768px) {
  .first-section {
    flex-direction: column;
  }

  .first-section p {
    max-width: -webkit-fill-available;
  }
}

/* end */

/* SECOND SECTION */

.second-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 200px;
  background-image: url("https://www.sketch.ca/sketchPub/uploads/2019/03/radical-art-of-young-people.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3) inset;
}

.second-section img {
  background: #c4c4c4;
  width: 300px;
  height: 300px;
  margin: 1em;
}

@media only screen and (max-width: 1000px) {
  .second-section {
    flex-direction: column;
    width: 100%;
  }
}

/* end */

.third-section {
  margin: 200px 0 0 auto; 
  width: 90%;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3) inset;
}

.second-section img {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}

/* third section */
.video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  text-align: center;
  background-image: url("https://www.sketch.ca/sketchPub/uploads/2019/03/radical-art-of-young-people.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-iframe {
  width: 100%;
  height: 90%;
  max-width: 800px;
}

@media only screen and (max-width: 800px) {
  .third-section {
    width: 100%;
    margin: 200px 0 0 0;
  }

  .video iframe {
    width: 95%;
    height: 60%;
  }
}

/* end */

.fourth-section {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://www.sketch.ca/sketchPub/uploads/2019/03/radical-art-of-young-people.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3) inset;  
}

.fourth-section img {
  margin: 2em;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);  
}

.fourth-section p {
  max-width: 40%;
  font-weight: bold;
}

@media screen and ( max-width: 768px) {
  .fourth-section img {
    margin-left: 4px;
  }
}

@media screen and ( max-width: 460px) {
  .fourth-section {
    flex-direction: column;
  }

  .fourth-section p {
    max-width: 90%;
  }
}

.footer {
  text-align: center;
  height: 32px;
  width: -webkit-fill-available;
  margin-top: 200px;
}